<section class="advantages">
        <h1 class="visually-hidden">Advantages</h1>
        <ul class="advantages__list list">
            <li class="advantages__item">
                <div class="advantages__amount-wrap">
                    <p class="advantages__amount title">721</p>
                </div>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <div class="advantages__amount-wrap">
                    <p class="advantages__amount title">16kg</p>
                </div>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <div class="advantages__amount-wrap">
                    <p class="advantages__amount title">84</p>
                </div>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
</section>
