<section id="about" class="about section">
    <div class="container">
        <p class="about__subtitle title">tradition and love</p>
        <h2 class="about__title title">how it&#8217s made?</h2>
        <div class="about__wrap">
            <picture class="about__image">
                <source srcset="./images/about/about_img-desc-1x.png 1x, 
                                                ./images/about/about_img-desc-2x.png 2x" media="(min-width: 1200px)">
                <source srcset="./images/about/about_img-tab-1x.png 1x, 
                                                ./images/about/about_img-tab-2x.png 2x" media="(min-width: 768px)">
                <source srcset="./images/about/about_img-tab-1x.png 1x, 
                                                ./images/about/about_img-tab-2x.png 2x" media="(min-width: 768px)">
                <img src="./images/about/about_img-desc-1x.png" alt="Cow">
            </picture>
            <div class="about__wrap-desc">
                <p class="about__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
                    faucibus
                    lorem
                    eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.</p>
                <p class="about__text about__desc">Curabitur lacinia enim at ex blandit, vel pellentesque odio
                    elementum. Mauris
                    rhoncus
                    orci in imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                    tincidunt. <br>
                    <br>
                    Aliquam erat volutpat. Aenean accumsan.
                </p>
                <button type="button" class="about__btn button button--white" data-about-modal-open>Read more
                    <svg class="about__btn-icon" width="8" height="14">
                        <use href="./images/icons.svg#icon-about-btn"></use>
                    </svg></button>
            </div>
        </div>
    </div>
</section>
<section id="advantages" class="advantages section">
    <div class="container">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="advantages__list list">
            <li class="advantages__item">
                <div class="advantages__amount-wrap">
                    <p class="advantages__amount title">721</p>
                </div>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <div class="advantages__amount-wrap">
                    <p class="advantages__amount title">16kg</p>
                </div>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <div class="advantages__amount-wrap">
                    <p class="advantages__amount title">84</p>
                </div>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>
<div class="about-backdrop is-hidden" data-about-modal>
    <div class="about-modal">
        <button type="button" class="about-modal__close-btn" data-about-modal-close>
            <svg class="about-modal__close-icon" width="20" height="20">
                <use href="./images/icons.svg#about_icon-modal-close"></use>
            </svg>
        </button>
        <p class="about-modal__title about__subtitle">Lorem ipsum dolor</p>
        <div class="about-modal__text"><b>Lorem ipsum dolor sit amet.</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nesciunt aut adipisci, sit dignissimos perspiciatis laborum sequi repellat at voluptate eligendi mollitia ullam libero obcaecati, ratione laboriosam alias expedita eveniet aliquam veniam architecto in nemo rem excepturi. Nobis, dolores praesentium.</div>
        <div class="about-modal__text"><b>Lorem ipsum dolor sit.</b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe culpa itaque enim labore, natus soluta totam vel? Error architecto porro dicta est corporis! Obcaecati unde delectus reiciendis ipsam, beatae id, dolorem illo porro fugiat sit consequatur? Iure delectus officiis perferendis.</div>
        <div class="about-modal__text"><b>Lorem ipsum dolor sit amet consectetur.</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, vitae. Impedit, ad quod, atque at pariatur repellat saepe harum delectus eum temporibus, praesentium neque hic ea nam possimus natus nisi sint tenetur esse. A numquam ducimus expedita, tenetur sint in!</div>
        <!-- <button type="button" class="about__btn button button--white" data-about-modal-open>Read more
            <svg class="about__btn-icon" width="8" height="14">
                <use href="./images/icons.svg#icon-about-btn"></use>
            </svg></button> -->
    </div>
</div>
