<!-- contacts -->
<section class="contacts">
  <!-- <h1>contacts</h1> -->
  <ul class="contacts__list list">
    <li class="contacts__item">
      <p class="contacts__representatives">CAFE</p>
      <h2 class="contacts__title">Chicago</h2>
      <p class="contacts__text">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
      <div class="contacts__box">
        <p class="contacts__working">Monday - Friday</p>
        <p class="contacts__time indent">06:00 AM - 10:00 PM</p>

        <p class="contacts__working">Saturday - Sunday</p>
        <p class="contacts__time">08:00 AM - 16:00 PM</p>
      </div>
      <a class="contacts__call" href="">+61(0) 383 766 284 </a>
      <a class="contacts__write" href="">noreply@envato.com</a>
    </li>
    <li class="contacts__item">
      <p class="contacts__representativ">FOODTRUCK</p>
      <h2 class="contacts__title">Los Angeles</h2>
      <p class="contacts__text">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
      <div class="contacts__box">
        <p class="contacts__working">Monday - Friday</p>
        <p class="contacts__time indent">06:00 AM - 10:00 PM</p>
        <p class="contacts__working">Saturday - Sunday</p>
        <p class="contacts__time">08:00 AM - 16:00 PM</p>
      </div>
      <a class="contacts__call" href="">+61(0) 383 766 284 </a>
      <a class="contacts__write" href="">noreply@envato.com</a>
    </li>
    <li class="contacts__item">
      <p class="contacts__representatives">CAFE</p>
      <h2 class="contacts__title">New York</h2>
      <p class="contacts__text">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
      <div class="contacts__box">
        <p class="contacts__working">Monday - Friday</p>
        <p class="contacts__time indent">06:00 AM - 10:00 PM</p>
        <p class="contacts__working">Saturday - Sunday</p>
        <p class="contacts__time">08:00 AM - 16:00 PM</p>
      </div>
      <a class="contacts__call" href="">+61(0) 383 766 284 </a>
      <a class="contacts__write" href="">noreply@envato.com</a>
    </li>
  </ul>
  <div class="button__box">
    <button class="buttons button--red">
      Our Locations
      <svg class="button__icon-white" width="7" height="8">
        <use href="./images/icons.svg#icon-Vector-white"></use>
      </svg>
    </button>
    <button class="buttons button--white">
      Franchise
      <svg class="button__icon-red" width="6" height="8">
        <use href="./images/icons.svg#icon-Vector-red"></use>
      </svg>
    </button>
  </div>
</section>
