<!-- contacts -->
<section class="contacts section" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list list">
      <li class="contacts__item">
        <p class="contacts__representatives">CAFE</p>
        <p class="contacts__title">Chicago</p>
        <p class="contacts__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="contacts__box">
          <p class="contacts__working">Monday - Friday</p>
          <p class="contacts__time indent">06:00 AM - 10:00 PM</p>
          <p class="contacts__working">Saturday - Sunday</p>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </div>
        <ul class="list contacts__contact">
          <a class="contacts__call" href="tel:+610383766284"
            >+61(0) 383 766 284
          </a>
          <a class="contacts__write" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__representatives contacts__representatives-green">
          FOODTRUCK
        </p>
        <p class="contacts__title">Los Angeles</p>
        <p class="contacts__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="contacts__box">
          <p class="contacts__working">Monday - Friday</p>
          <p class="contacts__time indent">06:00 AM - 10:00 PM</p>
          <p class="contacts__working">Saturday - Sunday</p>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </div>
        <ul class="list contacts__contact">
          <a class="contacts__call" href="tel:+610383766284"
            >+61(0) 383 766 284
          </a>
          <a class="contacts__write" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__representatives">CAFE</p>
        <p class="contacts__title">New York</p>
        <p class="contacts__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="contacts__box">
          <p class="contacts__working">Monday - Friday</p>
          <p class="contacts__time indent">06:00 AM - 10:00 PM</p>
          <p class="contacts__working">Saturday - Sunday</p>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </div>
        <ul class="list contacts__contact">
          <a class="contacts__call" href="tel:+610383766284"
            >+61(0) 383 766 284
          </a>
          <a class="contacts__write" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </ul>
      </li>
    </ul>
    <ul class="button__box list">
      <li>
        <button class="buttons button--red">
          Our Locations
          <svg class="button__icon-white" width="7" height="8">
            <use href="./images/icons.svg#icon-Vector-white"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="buttons button--white">
          Franchise
          <svg class="button__icon-red" width="6" height="8">
            <use href="./images/icons.svg#icon-Vector-red"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
