<section class="customer-section section">
  <div class="container">
    <h2 class="visually-hidden">Customer Reviews</h2>

    <div class="slider">
      <ul class="slider-list list">
        <li class="slider-list__item">
          <picture>
            <source
              srcset="
                ./images/customer/testimonials1_1.png    1x,
                ./images/customer/testimonials1_1-2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="slider-list__image"
              src="./images/customer/testimonials1_1.png"
              alt="lady-customer-1"
            />
          </picture>

          <div class="review-box">
            <p class="review-box__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="slider-list__contact">Emily, Los Angeles</p>
        </li>

        <!-- остальная часть для слайдера  ( пока не подключен слайдер) -->
        <!-- <li class="slider-list__item">
          <picture>
            <source
              srcset="
                ./images/customer/testimonials1_3.png    1x,
                ./images/customer/testimonials1_3-2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="slider-list__image"
              src="./images/customer/testimonials1_3.png"
              alt="lady-customer-2"
            />
          </picture>
          <div class="review-box">
            <p class="review-box__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="slider-list__contact">Nina, Chicago</p>
        </li>
        <li class="slider-list__item">
          <picture>
            <source
              srcset="
                ./images/customer/testimonials1_4.png    1x,
                ./images/customer/testimonials1_4-2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="slider-list__image"
              src="./images/customer/testimonials1_4.png"
              alt="lady-customer-3"
            />
          </picture>
          <div class="review-box">
            <p class="review-box__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="slider-list__contact">Maxin, New York</p>
        </li> -->
      </ul>
    </div>
  </div>
</section>
