<footer class="footer">
    <div class="container">
        <div class="footer__container">
            <div class="footer__name">
                <p class="footer__text">HOMEMADE ICE CREAM MADE</p>
                <p class="footer__title">WITH PASSION</p>
            </div>
            <div class="footer__contacts">
                    <ul class="footer__contacts-soc list">
                        <li class="footer__contacts-item">
                            <a href="https://github.com" target="_blank" class="footer__contacts-link">
                                <svg class="footer__contacts-icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="footer__contacts-item">
                            <a href="https://web.telegram.org" target="_blank" class="footer__contacts-link">
                                <svg class="footer__contacts-icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="footer__contacts-item">
                            <a href="https://web.facebook.com" target="_blank" class="footer__contacts-link">
                                <svg class="footer__contacts-icon" width="20" height="20">
                                    <use href="./images/icons.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                <div class="footer__contacts-tel">
                    <p class="footer__contacts-text">Feel free to contact</p>
                    <a href="tel:+610383766284" class="footer__contacts-number">+61 (0) 383 766 284</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__cooperation">
        <p class="footer__cooperation-text">&#169 2022 - IceCream.</p>
        <p class="footer__cooperation-text">All Rights Reserved.</p>
    </div>
</footer>