<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="visually-hidden">gallery ice cream</h2>
    <ul class="gallery__list list">
      <li class="gallery__item1 gallery__item">
        <img
          class="gallery__image"
          srcset="
            /src/images/gallery/desktop/desktop-gallery-img-1-1x.jpg 1x,
            /src/images/gallery/desktop/desktop-gallery-img-1-2x.jpg 2x
          "
          src="/src/images/gallery/desktop/desktop-gallery-img-1-1x.jpg"
          alt="Green ice cream"
        />
      </li>
      <li class="gallery__item2 gallery__item">
        <img
          class="gallery__image"
          srcset="
            /src/images/gallery/desktop/desktop-gallery-img-2-1x.jpg 1x,
            /src/images/gallery/desktop/desktop-gallery-img-2-2x.jpg 2x
          "
          src="/src/images/gallery/desktop/desktop-gallery-img-2-1x.jpg"
          alt="Ice cream in hand yellow background"
        />
      </li>

      <li class="gallery__item3 gallery__item">
        <img
          class="gallery__image"
          srcset="
            /src/images/gallery/desktop/desktop-gallery-img-3-1x.jpg 1x,
            /src/images/gallery/desktop/desktop-gallery-img-3-2x.jpg 2x
          "
          src="/src/images/gallery/desktop/desktop-gallery-img-3-1x.jpg"
          alt="pink ice cream"
        />
      </li>
      <li class="gallery__item4 gallery__item">
        <img
          class="gallery__image"
          srcset="
            /src/images/gallery/desktop/desktop-gallery-img-4-1x.jpg 1x,
            /src/images/gallery/desktop/desktop-gallery-img-4-2x.jpg 2x
          "
          src="/src/images/gallery/desktop/desktop-gallery-img-4-1x.jpg"
          alt="big image many ice cream"
        />
      </li>

      <li class="gallery__item5 gallery__item">
        <img
          class="gallery__image"
          srcset="
            /src/images/gallery/desktop/desktop-gallery-img-5-1x.jpg 1x,
            /src/images/gallery/desktop/desktop-gallery-img-5-2x.jpg 2x
          "
          src="/src/images/gallery/desktop/desktop-gallery-img-5-1x.jpg"
          alt="girl ith ice cream"
        />
      </li>
      <li class="gallery__item6 gallery__item">
        <img
          class="gallery__image"
          srcset="
            /src/images/gallery/desktop/desktop-gallery-img-6-1x.jpg 1x,
            /src/images/gallery/desktop/desktop-gallery-img-6-2x.jpg 2x
          "
          src="/src/images/gallery/desktop/desktop-gallery-img-6-1x.jpg"
          alt="ice cream with black berry"
        />
      </li>
      <li class="gallery__item7 gallery__item">
        <img
          class="gallery__image"
          srcset="
            /src/images/gallery/desktop/desktop-gallery-img-7-1x.jpg 1x,
            /src/images/gallery/desktop/desktop-gallery-img-7-2x.jpg 2x
          "
          src="/src/images/gallery/desktop/desktop-gallery-img-7-1x.jpg"
          alt="ice cream with star"
        />
      </li>
      <li class="gallery__item8 gallery__item">
        <img
          class="gallery__image"
          srcset="
            /src/images/gallery/desktop/desktop-gallery-img-8-1x.jpg 1x,
            /src/images/gallery/desktop/desktop-gallery-img-8-2x.jpg 2x
          "
          src="/src/images/gallery/desktop/desktop-gallery-img-8-1x.jpg"
          alt="ice cream and dog"
        />
      </li>
      <li class="gallery__item9 gallery__item">
        <img
          class="gallery__image"
          srcset="
            /src/images/gallery/desktop/desktop-gallery-img-9-1x.jpg 1x,
            /src/images/gallery/desktop/desktop-gallery-img-9-2x.jpg 2x
          "
          src="/src/images/gallery/desktop/desktop-gallery-img-9-1x.jpg"
          alt="chocolate coctale"
        />
      </li>
      <li class="gallery__item10 gallery__item">
        <img
          class="gallery__image"
          srcset="
            /src/images/gallery/desktop/desktop-gallery-img-10-1x.jpg 1x,
            /src/images/gallery/desktop/desktop-gallery-img-10-2x.jpg 2x
          "
          src="/src/images/gallery/desktop/desktop-gallery-img-10-1x.jpg"
          alt="ice cream with donat"
        />
      </li>
    </ul>
  </div>
</section>
