<section class="gallery">
    <h2 class="visually-hidden">gallery ice cream</h2>
    <div class="container">
      <ul class="gallery__list list">
          <li class="gallery__item1">
              <picture class="gallery__image">
                <source
                  media="(min-width: 480px)"
                  srcset="
                    /src/images/gallery/mobile/gallery-img-1-1x.jpg,
                    /src/images/gallery/mobile/gallery-img-1-2x.jpg
                  "
                />
         
                <source
                media="(min-width: 768px)"
                srcset="
                  /src/images/gallery/tablet/tab-gallery-img-1-1x.jpg,
                  /src/images/gallery/tablet/tab-gallery-img-1-2x.jpg
                "
              />
        
              <source
              media="(min-width: 1200px)"
              srcset="
                /src/images/gallery/desktop/desktop-gallery-img-1-1x.jpg,
                /src/images/gallery/desktop/desktop-gallery-img-1-2x.jpg
              "
            />
            <img
              src="/src/images/gallery/desktop/desktop-gallery-img-1-1x.jpg"
              alt="Ice cream in hand yellow background"
            />
              </picture>
            </li>
        <li class="gallery__item2">
          <picture class="gallery__image">
            <source
              media="(min-width: 480px)"
              srcset="
                /src/images/gallery/mobile/gallery-img-2-1x.jpg,
                /src/images/gallery/mobile/gallery-img-2-2x.jpg
              "
            />
     
            <source
            media="(min-width: 768px)"
            srcset="
              /src/images/gallery/tablet/tab-gallery-img-2-1x.jpg,
              /src/images/gallery/tablet/tab-gallery-img-2-2x.jpg
            "
          />
    
          <source
          media="(min-width: 1200px)"
          srcset="
            /src/images/gallery/desktop/desktop-gallery-img-2-1x.jpg,
            /src/images/gallery/desktop/desktop-gallery-img-2-2x.jpg
          "
        />
        <img
          src="/src/images/gallery/desktop/desktop-gallery-img-2-1x.jpg"
          alt="Ice cream in hand yellow background"
        />
          </picture>
        </li>
  
        <li class="gallery__item3">
          <picture class="gallery__image">
            <source
              media="(min-width: 480px)"
              srcset="
                /src/images/gallery/mobile/gallery-img-3-1x.jpg,
                /src/images/gallery/mobile/gallery-img-3-2x.jpg
              "
            />
     
            <source
            media="(min-width: 768px)"
            srcset="
              /src/images/gallery/tablet/tab-gallery-img-3-1x.jpg,
              /src/images/gallery/tablet/tab-gallery-img-3-2x.jpg
            "
          />
    
          <source
          media="(min-width: 1200px)"
          srcset="
            /src/images/gallery/desktop/desktop-gallery-img-3-1x.jpg,
            /src/images/gallery/desktop/desktop-gallery-img-3-2x.jpg
          "
        />
        <img
          src="/src/images/gallery/desktop/desktop-gallery-img-3-1x.jpg"
          alt="Ice cream in hand yellow background"
        />
          </picture>
        </li>
        <li class="gallery__item4">
          <picture class="gallery__image">
            <source
              media="(min-width: 480px)"
              srcset="
                /src/images/gallery/mobile/gallery-img-4-1x.jpg,
                /src/images/gallery/mobile/gallery-img-4-2x.jpg
              "
            />
     
            <source
            media="(min-width: 768px)"
            srcset="
              /src/images/gallery/tablet/tab-gallery-img-4-1x.jpg,
              /src/images/gallery/tablet/tab-gallery-img-4-2x.jpg
            "
          />
    
          <source
          media="(min-width: 1200px)"
          srcset="
            /src/images/gallery/desktop/desktop-gallery-img-4-1x.jpg,
            /src/images/gallery/desktop/desktop-gallery-img-4-2x.jpg
          "
        />
        <img
          src="/src/images/gallery/desktop/desktop-gallery-img-4-1x.jpg"
          alt="Ice cream in hand yellow background"
        />
          </picture>
        </li>
  
        <li class="gallery__item5">
          <picture class="gallery__image">
            <source
              media="(min-width: 480px)"
              srcset="
                /src/images/gallery/mobile/gallery-img-5-1x.jpg,
                /src/images/gallery/mobile/gallery-img-5-2x.jpg
              "
            />
     
            <source
            media="(min-width: 768px)"
            srcset="
              /src/images/gallery/tablet/tab-gallery-img-5-1x.jpg,
              /src/images/gallery/tablet/tab-gallery-img-5-2x.jpg
            "
          />
    
          <source
          media="(min-width: 1200px)"
          srcset="
            /src/images/gallery/desktop/desktop-gallery-img-5-1x.jpg,
            /src/images/gallery/desktop/desktop-gallery-img-5-2x.jpg
          "
        />
        <img
          src="/src/images/gallery/desktop/desktop-gallery-img-5-1x.jpg"
          alt="Ice cream in hand yellow background"
        />
          </picture>
        </li>
        <li class="gallery__item6">
          <picture class="gallery__image">
            <source
              media="(min-width: 480px)"
              srcset="
                /src/images/gallery/mobile/gallery-img-6-1x.jpg,
                /src/images/gallery/mobile/gallery-img-6-2x.jpg
              "
            />
     
            <source
            media="(min-width: 768px)"
            srcset="
              /src/images/gallery/tablet/tab-gallery-img-6-1x.jpg,
              /src/images/gallery/tablet/tab-gallery-img-6-2x.jpg
            "
          />
    
          <source
          media="(min-width: 1200px)"
          srcset="
            /src/images/gallery/desktop/desktop-gallery-img-6-1x.jpg,
            /src/images/gallery/desktop/desktop-gallery-img-6-2x.jpg
          "
        />
        <img
          src="/src/images/gallery/desktop/desktop-gallery-img-6-1x.jpg"
          alt="Ice cream in hand yellow background"
        />
          </picture>
        </li>
        <li class="gallery__item7">
          <picture class="gallery__image">
            <source
              media="(min-width: 480px)"
              srcset="
                /src/images/gallery/mobile/gallery-img-7-1x.jpg,
                /src/images/gallery/mobile/gallery-img-7-2x.jpg
              "
            />
     
            <source
            media="(min-width: 768px)"
            srcset="
              /src/images/gallery/tablet/tab-gallery-img-7-1x.jpg,
              /src/images/gallery/tablet/tab-gallery-img-7-2x.jpg
            "
          />
    
          <source
          media="(min-width: 1200px)"
          srcset="
            /src/images/gallery/desktop/desktop-gallery-img-7-1x.jpg,
            /src/images/gallery/desktop/desktop-gallery-img-7-2x.jpg
          "
        />
        <img
          src="/src/images/gallery/desktop/desktop-gallery-img-7-1x.jpg"
          alt="Ice cream in hand yellow background"
        />
          </picture>
        </li>
        <li class="gallery__item8">
          <picture class="gallery__image">
            <source
              media="(min-width: 480px)"
              srcset="
                /src/images/gallery/mobile/gallery-img-8-1x.jpg,
                /src/images/gallery/mobile/gallery-img-8-2x.jpg
              "
            />
     
            <source
            media="(min-width: 768px)"
            srcset="
              /src/images/gallery/tablet/tab-gallery-img-8-1x.jpg,
              /src/images/gallery/tablet/tab-gallery-img-8-2x.jpg
            "
          />
    
          <source
          media="(min-width: 1200px)"
          srcset="
            /src/images/gallery/desktop/desktop-gallery-img-8-1x.jpg,
            /src/images/gallery/desktop/desktop-gallery-img-8-2x.jpg
          "
        />
        <img
          src="/src/images/gallery/desktop/desktop-gallery-img-8-1x.jpg"
          alt="Ice cream in hand yellow background"
        />
          </picture>
        </li>
        <li class="gallery__item9">
          <picture class="gallery__image">
            <source
              media="(min-width: 480px)"
              srcset="
                /src/images/gallery/mobile/gallery-img-9-1x.jpg,
                /src/images/gallery/mobile/gallery-img-9-2x.jpg
              "
            />
     
            <source
            media="(min-width: 768px)"
            srcset="
              /src/images/gallery/tablet/tab-gallery-img-9-1x.jpg,
              /src/images/gallery/tablet/tab-gallery-img-9-2x.jpg
            "
          />
    
          <source
          media="(min-width: 1200px)"
          srcset="
            /src/images/gallery/desktop/desktop-gallery-img-9-1x.jpg,
            /src/images/gallery/desktop/desktop-gallery-img-9-2x.jpg
          "
        />
        <img
          src="/src/images/gallery/desktop/desktop-gallery-img-9-1x.jpg"
          alt="Ice cream in hand yellow background"
        />
          </picture>
        </li>
        <li class="gallery__item10">
          <picture class="gallery__image">
            <source
              media="(min-width: 480px)"
              srcset="
                /src/images/gallery/mobile/gallery-img-10-1x.jpg,
                /src/images/gallery/mobile/gallery-img-10-2x.jpg
              "
            />
     
            <source
            media="(min-width: 768px)"
            srcset="
              /src/images/gallery/tablet/tab-gallery-img-10-1x.jpg,
              /src/images/gallery/tablet/tab-gallery-img-10-2x.jpg
            "
          />
    
          <source
          media="(min-width: 1200px)"
          srcset="
            /src/images/gallery/desktop/desktop-gallery-img-10-1x.jpg,
            /src/images/gallery/desktop/desktop-gallery-img-10-2x.jpg
          "
        />
        <img
          src="/src/images/gallery/desktop/desktop-gallery-img-10-1x.jpg"
          alt="Ice cream in hand yellow background"
        />
          </picture>
        </li>
      </ul>
    </div>
  </section>
  