<section class="gallery">
  <h2 class="visually-hidden">gallery ice cream</h2>
  <div class="container">
    <ul class="gallery__list list">
      <li class="gallery__item1">
        <img
          class="gallery__image1"
          src="/src/images/gallery/mobile/gallery-img-1-1x.jpg"
          alt="Green ice cream"
        />
      </li>
      <li class="gallery__item2">
        <img
          class="gallery__image2"
          src="/src/images/gallery/mobile/gallery-img-2-1x.jpg"
          alt="Ice cream in hand yellow background"
        />
      </li>

      <li class="gallery__item3">
        <img
          class="gallery__image3"
          src="/src/images/gallery/mobile/gallery-img-3-1x.jpg"
          alt="pink ice cream"
        />
      </li>
      <li class="gallery__item4">
        <img
          class="gallery__image4"
          src="/src/images/gallery/mobile/gallery-img-4-1x.jpg"
          alt="big image many ice cream"
        />
      </li>

      <li class="gallery__item5">
        <img
          class="gallery__image5"
          src="/src/images/gallery/mobile/gallery-img-5-1x.jpg"
          alt="girl ith ice cream"
        />
      </li>
      <li class="gallery__item6">
        <img
          class="gallery__image6"
          src="/src/images/gallery/mobile/gallery-img-6-1x.jpg"
          alt="ice cream with black berry"
        />
      </li>
      <li class="gallery__item7">
        <img
          class="gallery__image7"
          src="/src/images/gallery/mobile/gallery-img-7-1x.jpg"
          alt="ice cream with star"
        />
      </li>
      <li class="gallery__item8">
        <img
          class="gallery__image8"
          src="/src/images/gallery/mobile/gallery-img-8-1x.jpg"
          alt="ice cream and dog"
        />
      </li>
      <li class="gallery__item9">
        <img
          class="gallery__image9"
          src="/src/images/gallery/mobile/gallery-img-9-1x.jpg"
          alt="chocolate coctale"
        />
      </li>
      <li class="gallery__item10">
        <img
          src="/src/images/gallery/mobile/gallery-img-10-1x.jpg"
          alt="ice cream with donat"
        />
      </li>
    </ul>
  </div>
</section>
