<header id="home">
  <div class="container header__container">
    <a class="logo-link" href="">
      <svg class="logo-link__container">
        <use
          href="./images/header/symbol-defs.svg#icon-Logo_svg"
          class="logo_link__icon"
          Width="199"
          Height="50"
        ></use>
      </svg>
    </a>
    <nav>
      <ul class="list header__menu-list">
        <li class="header-menu__item">
          <a href="#home" class="link current-link header-menu__link">Home</a>
        </li>
        <li class="header-menu__item">
          <a href="#advantages" class="link header-menu__link">About us</a>
        </li>
        <li class="header-menu__item">
          <a href="#about" class="link header-menu__link">How it’s made?</a>
        </li>
        <li class="header-menu__item">
          <a href="#products" class="link header-menu__link">Our products</a>
        </li>
        <li class="header-menu__item">
          <a href="#contacts" class="link header-menu__link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="header-menu__button-wrapper">
      <button
        class="mobile-menu__open-button button"
        type="button"
        data-menu-open
      >
        <svg class="mobile-menu__open-button-icon" Width="20" Height="12">
          <use href="./images/header/symbol-defs.svg#icon-Burger"></use>
        </svg>
      </button>
      <button class="button table-menu__buy-button button--white" type="button">
        <span>Buy now</span
        ><svg class="table-menu__buy-button-icon" Width="10" Height="10">
          <use href="./images/header/symbol-defs.svg#icon-Button_icon"></use>
        </svg>
      </button>
    </div>
  </div>

  <!-- mobile-menu -->

  <div
    class="container mobile-menu__container mobile-menu__container-translate"
    data-menu
  >
    <div class="mobile-menu">
      <div class="mobile-menu__top">
        <button
          class="button mobile-menu__close-button"
          type="button"
          data-menu-close
        >
          <svg class="mobile-menu__close-button-icon" Width="14" Height="14">
            <use href="./images/header/symbol-defs.svg#icon-close_icon"></use>
          </svg>
        </button>
        <button
          class="button mobile-menu__buy-button button--white"
          type="button"
        >
          <span>Buy now</span
          ><svg class="mobile-menu__buy-button-icon" Width="10" Height="10">
            <use href="./images/header/symbol-defs.svg#icon-Button_icon"></use>
          </svg>
        </button>
        <ul class="list mobile-menu__list">
          <li class="mobile-menu__item">
            <a
              href="#home"
              class="link current-link mobile-menu__link"
              data-home
              >Home</a
            >
          </li>
          <li class="mobile-menu__item">
            <a href="#advantages" class="link mobile-menu__link" data-advantages
              >About us</a
            >
          </li>
          <li class="mobile-menu__item">
            <a href="#about" class="link mobile-menu__link" data-about
              >How it’s made?</a
            >
          </li>
          <li class="mobile-menu__item">
            <a href="#products" class="link mobile-menu__link" data-products
              >Our products</a
            >
          </li>
          <li class="mobile-menu__item">
            <a href="#contacts" class="link mobile-menu__link" data-contacts
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
