<!-- Mobile-menu -->
<div class="container mobile-menu__container">
	<div class="mobile-menu" data-menu>
		<div class="mobile-menu__top">
			<button class="mobile-menu__close-button button" type="button" data-menu-close>
				<svg class="mobile-menu__icon" Width="40" Height="40">
					<use href=""></use>
				</svg>
			</button>
			<button class="mobile-menu__buy-button button--white" type="button">Buy now</button>
			<ul class="list mobile-menu__list">
				<li class="mobile-menu__item">
					<a href="./index.html" class="link current-link mobile-menu__link">Home</a>
				</li>
				<li class="mobile-menu__item">
					<a href="./index.html" class="link mobile-menu__link">About us</a>
				</li>
				<li class="mobile-menu__item">
					<a href="./index.html" class="link mobile-menu__link">How it’s made?</a>
				</li>
				<li class="mobile-menu__item">
					<a href="./index.html" class="link mobile-menu__link">Our products</a>
				</li>
				<li class="mobile-menu__item">
					<a href="./index.html" class="link mobile-menu__link">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</div>