<section class="product__section section">
  <div class="container">
    <p class="product__label">100% natural</p>

    <h2 class="product__title title">products</h2>

    <ul class="product__list list">
      <li class="product__item product__item--pink">
        <h3 class="product__subtitle product__subtitle--cream">ice cream</h3>

        <p class="product__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>

        <button class="product__button button">
          <svg class="products__icon" width="40" height="40">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
          <div class="actions">
            <p class="actions__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Accusantium quas, incidunt porro mollitia expedita ipsum quis.
              Architecto facilis doloribus animi ea numquam maxime voluptatum
              eveniet, inventore mollitia fugiat placeat doloremque laborum
              nostrum voluptates neque quaerat.
            </p>
          </div>
        </button>
      </li>

      <li class="product__item product__item--cream">
        <h3 class="product__subtitle product__subtitle--coffee">ice coffee</h3>
        <p class="product__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>

        <button class="product__button button">
          <svg class="products__icon" width="40" height="40">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
          <div class="actions">
            <p class="actions__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Accusantium quas, incidunt porro mollitia expedita ipsum quis.
              Architecto facilis doloribus animi ea numquam maxime voluptatum
              eveniet, inventore mollitia fugiat placeat doloremque laborum
              nostrum voluptates neque quaerat.
            </p>
          </div>
        </button>
      </li>

      <li class="product__item product__item--green">
        <h3 class="product__subtitle product__subtitle--milshakes">
          milkshakes
        </h3>
        <p class="product__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>

        <button class="product__button button">
          <svg class="products__icon" width="40" height="40">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
          <div class="actions">
            <p class="actions__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Accusantium quas, incidunt porro mollitia expedita ipsum quis.
              Architecto facilis doloribus animi ea numquam maxime voluptatum
              eveniet, inventore mollitia fugiat placeat doloremque laborum
              nostrum voluptates neque quaerat.
            </p>
          </div>
        </button>
      </li>
    </ul>
  </div>
</section>
