.about {
    @include desktop {
        background-image: url(../images/about/about_bg-img-desc-1x.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0 236px;
        @include retina {
            background-image: url(../images/about/about_bg-img-desc-2x.png);
        }
    }
}

.about.section {
    padding-bottom: 40px;
}

.about__subtitle {
    font-size: 18px;
    line-height: 1.17;
    color: #ffa5ba;
    letter-spacing: normal;
    margin-top: 0;
    margin-bottom: 15px;
    @include tablet{
        margin-bottom: 16px;
        font-size: 26px;
        line-height: 1.15;
    }
    @include desktop {
        font-size: 30px;
        line-height: 1.13;
    }
}

.about__title {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 32px;
    @include tablet {
        margin-bottom: 40px;
        font-size: 48px;
    }
    @include desktop {
        margin-bottom: 60px;
        font-size: 58px;
        letter-spacing: 0.06em;
        line-height: 1.14;
    }
}

.about__wrap{
    @include tablet {
        display: flex;
        padding-left: 12px;
        padding-right: 14px;
    }
}

.about__image {
    display: block;
    max-width: 100%;
    height: 100%;
    width: 100%;
    margin-bottom: 40px;
    @include tablet {
        margin-right: 32px;
        margin-bottom: 0;
        max-width: 336px;
        max-height: 335px;
        @include desktop {
            margin-right: 99px;
            max-width: 501px;
            max-height: 501px;
        }
    }
}

.about__wrap-desc {
    @include tablet_max {
            background-image: url(../images/about/about_bg-img-mob-1x.png);
            background-position: 0 71px;
            background-repeat: no-repeat;
            background-size: contain;
        @include retina {
            background-image: url(../images/about/about_bg-img-mob-2x.png);
        }
    } 
    @include desktop {
        padding-top: 90px;
    }
}
.about__text{
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    color: $primary-text-color;
    max-width: 220px;
    @include tablet {
        max-width: 334px;
        font-size: 14px;
        line-height: 1.76;
        letter-spacing: 0.04em;
    }
    @include desktop {
        max-width: 463px;
        font-size: 16px;
    }
}

.about__desc {
    color: $secondary-text-color;
    margin-top: 21px;
    margin-bottom: 20px;
    @include tablet {
        margin-bottom: 40px;
        margin-top: 15px;
    }
    @include desktop {
        margin-top: 32px;
        font-size: 14px;
        line-height: 1.94;
    }
}

.about__btn {
    display: flex;
    width: 176px;
    height: 46px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    margin: 0 0;
    @include tablet {
        font-size: 16px;
    }
    @include desktop {
        line-height: 1.31;
    }
}

.about__btn-icon {
    margin-left: 14px;
}