.customer-section {
  background-color: #fff;
}

.slider {
  margin: 0 auto;
  width: 280px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include tablet {
    width: 620px;
  }

  @include desktop {
    width: 968px;
  }
}

.slider-list {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;

  flex-direction: column;
}

.slider-list__image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  @include tablet {
    margin-bottom: 20px;
  }

  @include desktop {
    margin-bottom: 16px;
  }
}

.review-box {
  position: relative;

  margin: 0 auto;
  padding: 43px 50px 26px 50px;

  width: 280px;
  display: flex;
  justify-content: center;

  background-color: #fafafa;

  @include tablet {
    width: 620px;
    padding: 37px 6px 36px 6px;

    background-color: rgba(250, 250, 250, 0.4);
  }
  @include desktop {
    width: 968px;
    padding: 47px 73px 31px 74px;
    background-color: #fafafa;
  }
}

.review-box__text {
  position: relative;
  display: flex;
  flex-direction: column;

  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  /* or 31px */

  z-index: 2;

  @include tablet {
    font-size: 14px;
    line-height: 2.16;
  }

  @include desktop {
    font-size: 16px;
    line-height: 1.86;
  }

  // @include tablet {
  //   display: inline;
  //   text-align: center;
  //   margin: 0 auto;
  //   background-image: repeating-linear-gradient(
  //     180deg,
  //     #e1e1e1,
  //     #e1e1e1 30px,
  //     #e1e1e1 31px
  //   );
  //   background-position: 0 100%;
  //   background-size: 100% 1px;
  //   background-repeat: repeat-x;
  // }

  // @include desktop {
  //   background-image: repeating-linear-gradient(
  //     180deg,
  //     #e1e1e1,
  //     #e1e1e1 30px,
  //     #e1e1e1 31px
  //   );
  //   background-position: 0 100%;
  //   background-size: 10px 1px;
  //   background-repeat: repeat-x;
  // }
}
.review-box__line {
  display: block;

  background-image: repeating-linear-gradient(
    180deg,
    #e1e1e1,
    #e1e1e1 30px,
    #e1e1e1 31px
  );
  background-position: 0 100%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.review-box__text--mobile {
  width: 180px;
  @include tablet {
    display: none;
  }
}

.review-box__text--tablet {
  @include mobile_max {
    display: none;
  }

  @include mobile {
    display: none;
  }

  @include tablet {
    display: block;
    width: 608px;
  }

  @include desktop {
    display: none;
  }
}

.review-box__text--desktop {
  @include mobile_max {
    display: none;
  }
  @include mobile {
    display: none;
  }

  @include tablet_max {
    display: none;
  }

  @include tablet {
    display: none;
  }

  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 821px;
  }
}

.slider-list__contact {
  position: relative;

  margin-top: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  /* or 26px */

  text-align: center;

  @include tablet {
    margin-top: 24px;

    font-size: 16px;
  }

  @include desktop {
    margin-top: 36px;

    font-size: 20px;
  }
}
.slider-list__item {
  position: relative;
  height: 520px;

  @include tablet {
    height: 362px;
  }
  @include desktop {
    height: 350px;
  }
}

.slider-list__item::before {
  content: '';
  position: absolute;
  display: block;
  top: 147px;
  left: 53px;

  width: 54px;
  height: 40px;

  background-image: url(../images/customer/quotes.svg);
  background-repeat: no-repeat;

  z-index: 1;

  @include tablet {
    width: 60px;
    height: 40px;

    top: 125px;
    left: 33px;
  }

  @include desktop {
    top: 133px;
    left: 101px;
  }
}

.slider-list__contact::before {
  content: '';
  position: absolute;

  top: -20px;

  right: 50%;
  left: 50%;
  transform: translate(-50%, 0%);

  width: 32px;
  height: 4px;

  background-image: url(../images/customer/dots.svg);
  background-repeat: no-repeat;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
  min-width: 0;
}
.slick-dots li {
  list-style: none;
}

.slick-slider {
  position: relative;
}
.slick-dots {
  position: absolute;

  bottom: 0;
  left: 50%;
  transform: translate(-66%, 0%);
  display: flex;
  gap: 18px;

  @include tablet {
    transform: translate(-60%, 0%);
  }

  @include desktop {
    transform: translate(-65%, 0%);
  }
}

.slick-dots li button {
  display: block;
  font-size: 0;
  width: 13px;
  height: 12px;
  background-image: url(../images/customer/customer_ellipse.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.slick-dots li.slick-active button {
  background-image: url(../images/customer/customer_home.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
}
