.footer {
  padding-top: 40px;
  @include desktop {
    padding-top: 120px;
  }
}

.footer__container {
  padding-bottom: 40px;
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include desktop {
      padding-bottom: 60px;
    }
  }
}

.footer__name {
  text-align: left;
  margin-bottom: 40px;
  @include tablet {
    margin-bottom: 0;
  }
}

.footer__text {
  width: 232px;
  margin-bottom: 16px;
  font-family: 'Titan One', cursive;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.04em;
  line-height: 1.2;
  color: #ffa5ba;
  @include tablet {
    width: 340px;
    margin-bottom: 12px;
    font-size: 26px;
    letter-spacing: 0.04em;
  }
  @include desktop {
    width: 472px;
    font-size: 30px;
    margin-bottom: 16px;
  }
}

.footer__title {
  width: 200px;
  font-family: 'Titan One', cursive;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: $primary-accent-color;
  @include tablet {
    width: 340px;
    font-size: 48px;
    letter-spacing: 0.06em;
  }
  @include desktop {
    font-size: 58px;
    margin-right: 0px;
    width: 100%;
  }
}

.footer__contacts-soc {
  justify-content: flex-end;
  margin-bottom: 40px;
  gap: 28px;
}

.footer__contacts-item {
  width: 34px;
  height: 34px;
}

.footer__contacts-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 50%;
  background-color: #fea5bb;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $primary-accent-color;
  }
  &:hover .footer__contacts--icon,
  &:focus .footer__contacts--icon {
    fill: #ffffff;
  }
}

.footer__contacts-icon {
  fill: #fff5f6;
}

.footer__contacts-tel {
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.footer__contacts-text {
  margin-right: 4px;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.9;
  color: $primary-text-color;
  @include tablet {
    font-size: 14px;
    letter-spacing: 0.02em;
  }
  @include desktop {
    font-size: 16px;
  }
}

.footer__contacts-number {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.9;
  color: $primary-accent-color;
  @include tablet {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
  }
}

.footer__cooperation {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 3px;
  border-top: 1px solid #e1e1e1;
  @include tablet {
    display: flex;
    justify-content: center;
    gap: 3px;
    padding-top: 8px;
    padding-bottom: 4px;
  }
  @include desktop {
    padding-top: 7px;
    padding-bottom: 4px;
  }
}

.footer__cooperation-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: $secondary-text-color;
  @include tablet {
    line-height: 1.9;
    letter-spacing: 0.02em;
  }
}
