.header__container {
  background-color: transparent;
  padding-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  @include tablet {
    padding-top: 32px;
  }
  @include desktop {
    padding-top: 37px;
  }
}

.header__menu-list {
  display: none;
  @include desktop {
    display: flex;
    gap: 35px;
  }
}

.header-menu__link {
  font-weight: 700;
  line-height: 1.31em;
  color: #fff;
  transition: color $transition;
  &:hover,
  &:focus {
    color: $primary-accent-color;
  }
}

.header-menu__button-wrapper {
  display: flex;
}

.logo-link__container {
  width: 199px;
  height: 50px;
}

.mobile-menu__container {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  overflow: auto;
  padding-top: 60px;
  padding-left: 0;
  padding-right: 0;
  height: 100vh;
  max-width: 320px;
  background-color: $mobile-menu-background-color;
  transform: translateX(0);
  transition: transform 300ms;
}

.mobile-menu__container-translate {
  transform: translateX(100%);
  transition: transform 300ms;
}

.mobile-menu__open-button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-color: transparent;
  @include desktop {
    display: none;
  }
}

.mobile-menu__close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-color: transparent;
}

.mobile-menu__buy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 50px;
  min-width: 209px;
  margin-bottom: 19px;
  border: none;
  border-radius: 22px;
  font-weight: 700;
  line-height: 1.31em;
  transition: color $transition;
  &:hover,
  &:focus {
    background-color: rgba(236, 235, 235, 1);
  }
}

.mobile-menu__buy-button-icon {
  margin-left: 20px;
}

.mobile-menu__list {
  flex-direction: column;
}

.mobile-menu__item {
  padding-top: 13px;
  padding-bottom: 10px;
  padding-left: 20px;
  &:nth-child(2n + 1) {
    border: 1px solid #e18298;
  }
}

.mobile-menu__link {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28em;
  transition: color $transition;
  &:hover,
  &:focus {
    color: $primary-accent-color;
  }
}

.table-menu__buy-button {
  display: none;
  @include tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 32px;
    height: 50px;
    min-width: 160px;
    border: none;
    border-radius: 22px;
    font-weight: 700;
    line-height: 1.31em;
    &:hover,
    &:focus {
      background-color: rgba(236, 235, 235, 1);
    }
  }
}

.table-menu__buy-button-icon {
  margin-left: 20px;
}

.current-link {
  color: $primary-accent-color;
}
