.mobile-menu__container {
	height: 100vh;
  padding: 0;
  background-color: $mobile-menu-background-color;
}

.mobile-menu__buy-button {
	display: flex;
	margin: 0 auto;
	margin-bottom: 19px;
	border: none;
  border-radius: 22px;
  font-weight: 700;
  line-height: 1.31em;
	&:hover,
	&:focus{
		background-color:#fff;
	}
}

.mobile-menu__list {
  flex-direction: column;
}

.mobile-menu__item {
  padding-top: 13px;
  padding-bottom: 10px;
  padding-left: 20px;
  &:nth-child(2n + 1) {
    border: 1px solid #e18298;
  }
}

.mobile-menu__link {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28em;
}

.current-link {
  color: $primary-accent-color;
}

