.product__section {
  background-color: white;
}
.product__label {
  font-family: 'Titan One', cursive;
  font-size: 18px;
  line-height: 1.16;

  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
  @include tablet {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 18px;
  }
  @include desktop {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 1.33;
  }
}
.product__title {
  margin-top: 0;
  margin-bottom: 8px;
  letter-spacing: 0.04em;
  @include tablet {
    font-size: 48px;
    line-height: 1.14;
    margin-bottom: 20px;
  }
  @include desktop {
    font-size: 58px;
    line-height: 1.14;

    letter-spacing: 0.06em;
  }
}
.product__list {
  flex-direction: column;
  @include tablet {
    gap: 16px;
    flex-direction: row;
  }
  @include desktop {
    gap: 32px;
  }
}

.product__item {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
  width: 100%;
  height: 489px;
  border-radius: 24px;
  padding: 160px 40px 40px;

  &--pink {
    background-color: #ffb8ca;
  }
  &--cream {
    background-color: #f0d1a5;
  }
  &--green {
    background-color: #c2e297;
  }

  @include mobile {
    width: 280px;
    // padding: 160px 40px 40px;
  }
  @include tablet {
    width: 224px;
    height: 473px;
    width: calc(100% - 32px) / 3;
    padding: 118px 32px 40px;
  }
  @include desktop {
    width: 368px;
    height: 535px;
    padding: 165px 60px 60px;
    width: calc(100% - 64px) / 3;
    margin-top: 260px;
  }
}

.product__subtitle {
  font-family: 'Titan One', cursive;
  font-size: 20px;
  line-height: 1.15;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}
.product__subtitle::before {
  content: '';

  width: 280px;
  height: 280px;
  background-size: cover;
  display: inline-block;
  // margin-bottom: 32px;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;

  top: -140px;
  left: 50%;

  transform: translateX(-50%);

  @include tablet {
    width: 224px;
    height: 224px;
    top: -148px;
  }
  @include desktop {
    width: 368px;
    height: 394px;
    top: -260px;
  }
}
.product__subtitle--cream::before {
  background-image: url(../images/products/products-img1.png);

  @include retina {
    background-image: url(../images/products/products-img1-2x.png);
  }

  @include tablet {
    background-image: url(../images/products/products-tab-1.png);

    @include retina {
      background-image: url(../images/products/products-tab-1-2x.png);
    }
  }

  @include desktop {
    background-image: url(../images/products/products-desktop-1.png);

    @include retina {
      background-image: url(../images/products/products-desktop-1-2x.png);
    }
  }
}
.product__subtitle--coffee::before {
  background-image: url(../images/products/products-img2.png);

  @include retina {
    background-image: url(../images/products/products-img2-2x.png);
  }

  @include tablet {
    background-image: url(../images/products/products-tab-2.png);

    @include retina {
      background-image: url(../images/products/products-tab-2-2x.png);
    }
  }

  @include desktop {
    background-image: url(../images/products/products-desktop-2.png);

    @include retina {
      background-image: url(../images/products/products-desktop-2-2x.png);
    }
  }
}
.product__subtitle--milshakes::before {
  background-image: url(../images/products/products-img3.png);

  @include retina {
    background-image: url(../images/products/products-img3-2x.png);
  }

  @include tablet {
    background-image: url(../images/products/products-tab-3.png);

    @include retina {
      background-image: url(../images/products/products-tab-3-2x.png);
    }
  }

  @include desktop {
    background-image: url(../images/products/products-desktop-3.png);

    @include retina {
      background-image: url(../images/products/products-desktop-3-2x.png);
    }
  }
}

.product__subtitle::after {
  content: '...';
  display: block;

  color: #fff;
  margin-top: 32px;
}
.product__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.04em;
  margin-top: 32px;

  color: #ffffff;
  @include tablet {
    line-height: 1.76;
  }
}

.product__button {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  margin-top: 32px;
  color: $primary-accent-color;
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: color $transition, background-color $transition;

  @include desktop {
    margin-top: 60px;
  }
}
.product__button:hover,
.product__button:focus {
  color: #fff;
  background-color: $primary-accent-color;
}
.products__icon {
  fill: currentColor;
}

.actions {
  position: absolute;

  background-color: rgba(255, 245, 246, 0.8);
  opacity: 0;
  left: 0;
  top: 160px;
  padding: 15px 20px;
  width: 100%;
  pointer-events: none;

  transition: opacity $transition;
  @media screen and (min-width: 380px) {
    padding: 20px 25px;
  }
  @include mobile {
    padding: 15px;
  }
  @include tablet {
    top: 118px;
    padding: 15px;
  }
  @include desktop {
    top: 165px;
    padding: 25px;
  }
}
.product__button:hover .actions {
  opacity: 1;
}
.actions__text {
  color: $secondary-text-color;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  @media screen and (min-width: 380px) {
    line-height: 1.6;
  }

  @include mobile {
    line-height: 1.6;
  }

  @include tablet {
    line-height: 1.36;
  }
  @include desktop {
    font-size: 15px;
    line-height: 1.76;
  }
}
